<% c++ #include "content.h" %>
<% skin my_skin %>
<% view message uses content::message %>
<% template render() %>
<html>
  <head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <div>

    <% foreach article in article_list %>

        <% item %>
        <table border="1">
        <tr>
            <td> <%= article.id %>  <%= article.title %> <%= article.keyword %> </td>
        </tr>
        <tr>
            <td><%= article.dummy_body | raw %> </td>
        </tr>
        <tr>
            <td><%= article.real_body %> </td>
        </tr>
        </table>
         </br>
        <% end %>


    <% empty %>
        没有文章
    <% end %>
    </div>

    <div>
    <p>
    <a href="/page/<%= prev_page_number %>">上一页</a> &nbsp; &nbsp; &nbsp;
    <a href="/page/<%= next_page_number %>">下一页</a>
    </p>
     </div>
  </body>
</html>
<% end template %>
<% end view %>
<% end skin %>